/*
colors useed:
background color: #adc9bF (sage green)
text color: #0f3b06
*/
* {
  box-sizing: border-box;
}

.logo {
  max-width: 60px;
}

body {
  background-color: #adc9bf; /* sage green */
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4; /* 1.4 x the font size */
  color: #0f3b06;
}

main {
  margin: 5vw;
}

.css-box-shadow {
/* start ------------ */
  width: [object Object]px;
  height: [object Object]px;
  background: #adc9bf;
  border: none;
  box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 1; /* makes nav bar highest in the stack */
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: EB Garamond; /* more edits to come when spacing is better sorted out */
  font-weight: 300;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  margin: 0.5em;
}

header {
  text-align: center;
  padding: 20px 0 5px;
  background-color: #74c5c1;
  position: fixed;
  width: 100%;
}

a {
  color: #0f3b06;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #53732a;
}

a:active {
  color: #9ac56f;
}

.primary-button {
  display: inline-block;
  background-color: #c3ccb2;
  color: #276c5b;
  font-weight: 600;
  padding: 13px;
  border-radius: 30px;
  border: 2px solid #0e362c;
  transition: 0.2s opacity; 
    /* 
      so, for a transitions to work, there needs to be a default and a hover/secondary state. 
      need to code both the default and the hover/secondary state in order for the defined transition to be seen. 
      define the start and the finish of this journey.
      you can put multiple types of transitions on one line for the same type of default state
        ie. primary button will have 3 different transisions so needs 3 different hover/secondary states to display all:
            .button {
              border: none;
              font-family: inherit;
              background-color: #05676e;
              color: white !important;
              text-decoration:none;
              padding: 10px;
              border-radius: 3px;
              border-bottom: 2px solid #03474c;
              transition: 0.4s opacity, 0.5s background-color, 0.4s font-size;
            }

            .button:hover {
              cursor: pointer;
              opacity: 0.8;
            }

            .button2:hover {
              background-color: #489c79;
            }

            .button3:hover {
              font-size: 18px;
            }
      info source: https://codepen.io/anon/pen/ZyxoMx
    */  
  text-decoration: none;
}

.primary-button:hover,
a:focus {
  color: #276c5b;
  opacity: 0.8; /* reduces opacity 80% */
  text-decoration: none;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  /* increase spacing btn buttons?? */
}

/* layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#projects .row {
  padding-bottom: 10vh;
  border-bottom: 1px solid #0b280d;
}

#hero h1 {
  text-align: center;
}

#hero {
  background-color: #0e4d50;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  color: #cce7d2;
}

#me {
  margin: 0 5vw 0;
}

main {
  padding-top: 120px;
}

footer > div > div > a > img {
  width: 40px;
  text-align: center;
}

footer {
  padding: 0 25px 0;
}

.pross-img {
  display: inline;
  width: 15%;
}

.skills {
  font-style: italic;
}

.step {
  margin-bottom: 8vh;
}

.cube1 {
  fill: green;
}

@keyframes bg-color-change {
0% {fill: #87C9D6}
60% {fill:#e3d19b}
100% {fill:#1e2248}
}

.bg {
  animation-duration: 15s;
  animation-name: bg-color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}

@keyframes skyline-color {
  0% {fill: #518297}
  60% {fill:#b1986e}
  100% {fill:#0d0c2e}
}

.skyline {
  animation: 15s skyline-color infinite alternate ease;
}

@keyframes cube-move {
  from {transform: translate(-300px,50px);}
  to {transform: translate(300px,50px);}
}

.clouds {
  animation-duration: 25s;
  animation-name: cube-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

#contact {
  border-top: 1px solid black;
  margin: 0 5% 0;
}

#home {
  border-top: none;
}

/* medium devices */
@media only screen and (min-width: 640px) { 
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 68px;
  }

  body {
    font-size: 18px;
  }

  #hero {
    text-align: center;
  }

  #hero span {
    display: block;
  }  /* span is already on a new line because of how things fit. However, I put a display code just in case I want it isn't on a new line later */

  .col-md-6 {
    width: 50%;
    padding: 10px;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #skills-tools {
    margin-bottom: -0.2em;
    margin-top: 1em;
  }

  h1
}

/* large devices */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
    padding: 10px;
  }

  .col-lg-5 {
    width: 41.66%;
    padding: 10px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* x-large devices */
@media only screen and (min-width: 1440px) {
  
}
