/*
colors useed:
background color: #adc9bF (sage green)
text color: #0f3b06
*/
* {
  box-sizing: border-box;
}

.logo {
  max-width: 60px;
}

body {
  background-color: #adc9bf; /* sage green */
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4; /* 1.4 x the font size */
  color: #0f3b06;
}

main {
  margin: 5vw;
}

.css-box-shadow {
/* start ------------ */
  width: [object Object]px;
  height: [object Object]px;
  background: #adc9bf;
  border: none;
  box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 1; /* makes nav bar highest in the stack */
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: EB Garamond; /* more edits to come when spacing is better sorted out */
  font-weight: 300;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  margin: 0.5em;
}

a {
  color: #0f3b06;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #53732a;
}

a:active {
  color: #9ac56f;
}

.primary-button {
  display: inline-block;
  background-color: #c3ccb2;
  color: #276c5b;
  font-weight: 600;
  padding: 13px;
  border-radius: 30px;
  border: 2px solid #0e362c; /* might remove */
  transition: 0.2s opacity; /* what is this for? */
  text-decoration: none;
}

.primary-button:hover,
a:focus {
  color: #276c5b;
  opacity: 0.8; /* reduces opacity 80% */
  text-decoration: none;
}

/* .button-secondary {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #276c5b;
  text-decoration: none;
}

.button-secondary:hover,
a:focus {
  opacity: 0.8;
} */

header {
  text-align: center;
  padding: 20px 0 5px;
  background-color: #74c5c1;
  position: fixed;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  /* increase spacing btn buttons?? */
}

/* layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

/* .float picture {
  float: left;
  max-width: 30%;
  margin: 0 20px 0 0;
} */

#projects .row {
  padding-bottom: 20vh;
  border-bottom: 1px solid black;
}

#hero h1 {
  text-align: center;
}

#hero {
  background-color: #0e4d50;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  color: #cce7d2;
}

#me {
  margin: 0 5vw 0;
}

main {
  padding-top: 120px;
}

footer > div > div > a > img {
  width: 40px;
  text-align: center;
}

footer {
  margin: 5vw;
}

.pross-img {
  display: inline;
  width: 15%;
}

.skills {
  font-style: italic;
}

.step {
  margin-bottom: 8vh;
}

/* medium devices */
@media only screens and (min-width: 640px) {
  
}

/* large devices */
@media only screens and (min-width: 1024px) {
  
}

/* x-large devices */
@media only screens and (min-width: 1440px) {
  
}
